.auth-container {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: Arial, sans-serif;
}

/* LEFT IMAGE */
.auth-left {
  width: 50%;
  position: relative;
  background: url("../assets/login-bg.jpg") center/cover no-repeat;
}

.auth-left::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.6); /* image opacity only */
}

.auth-left-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;      /* CENTER horizontally */
  text-align: center;       /* CENTER text */
}

.auth-left-content h1 {
  font-size: 40px;
  font-weight: 800;
   ;
}

.auth-left-content h1 {
  font-size: 44px;
  font-weight: 800;
  margin: 0;
}

.auth-left-content p {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 500;
}


/* RIGHT CARD */
.auth-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background: #eaf6ff;
  padding: 40px;
  width: 420px;
  border-radius: 20px;
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  background: #f1f1f1;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background: #9bd2ff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.auth-card p {
  text-align: center;
  margin-top: 15px;
}
